/* Animations */
@keyframes logo-flotando {
    0% {

    }
    50% {
        transform: translateY(-15px);
        scale: 1.09;
    }
    100% {

    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 17px;
}
input, label, textarea {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 section {
    padding: 10px 40px;
 }



.header {
    height: 110px;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
}
.header-sect1 {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.header-sect2 {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}
.header-links {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.logo-header {
    height: 90px;
}



/* Header menu */
/* Menu Hamburger desplegable */
.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.menu.open {
    transform: translateX(0);
}

.menu .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo de las opciones del menú */
.menu ul {
    list-style: none;
    padding: 50px 0 0 0;
    text-align: center;
}

.menu ul li {
    padding: 20px;
    font-size: 24px;
    color: white;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos del botón de las tres barras (hamburguesa) */
.hamburger {
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    z-index: 1000;
}
.menu-desp {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20%;
}

@media only screen and (max-width: 767px) {
    .menu-desp {
        display: flex;
        align-items: center;
        width: 20%;
    }
    
    .header-sect2 {
        display: none;
    }

    .header {
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: reverse;
    }
    .header-sect1 {
        width: 70%;
        align-content: center;

    }
    .logo-header {
        width: 100%;
        height: auto;
    }
}


/* Main */
.sect1-main {
    background-image: url(assets/sect1-main.png);
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.sect1-main h2 {
    color: white;
    font-size: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.botones-sect1-main {
    padding: 15px 50px;
    border-radius: 25px;
    margin-top: 40px;
    transition: 150ms ease-in-out;
}
.botones-sect1-main a {
    text-decoration: none;
    color: white;
}
#productos-main {
    background-color: #ABB7AD;
}
#atencion-main {
    background-color: #9196AA;
}
.botones-sect1-main:hover {
    padding: 15px 90px;
}
@media only screen and (max-width: 767px) {
    .sect1-main h2 {
        font-size: 60px;
    }
}

.sect2-main {
    background-color: #4A7065;
    padding: 40px;
    display: flex;
    color: white;
    border-radius: 0 0 20px 20px;
}
.sect2-main h3 {
    font-size: 25px;
    margin: 5px;
}
.sect2-main h2 {
    font-size: 35px;
    margin: 0;
}
.div-sect2-main {
    width: 50%;
    text-align: center;    
}
.div2-sect2-main {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.botones-sect2-main {
    padding: 15px 40px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    transition: 150ms ease-in-out;
}

#cotiza-main {
    background-color: #E5DFC9;
}
#contact-main {
    background-color: white;
}
#contact-main:hover, #cotiza-main:hover {
    background-color: #B8A78B;
}
.botones-sect2-main a {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width:767px) {
    .sect2-main {
        flex-direction: column;
    }
    .div-sect2-main, .div2-sect2-main {
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }
    .botones-sect2-main {
        margin-top: 20px;
    }
}
.sect3-main {
    padding: 10px 180px;
    text-align: center;
}

.sect3-main h2 {
    font-size: 50px;
    text-align: center;
    color: #4A7065;
}
.sect3-main h3 {
    font-size: 40px;
    color: #9196AA;
}
.div-genvm {
    display: flex;
}
.gen-mv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-sect3mv-main {
    width: 90%;
    border-radius: 25px;
}

@media only screen and (max-width:767px) {
    .sect3-main {
        padding: 10px;
    }
    .div-genvm {
        flex-direction: column-reverse;
    }
    .gen-mv {
        width: 100%;
    }
}

/* Carrouser de Elementos */
.sect4-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    background-color: #B8A78B;
    color: white;
    border-radius: 25px;
}
.sect4-main h2 {
    font-size: 35px;
}
.boxes {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px 20px;
    transition: 150ms;
    overflow: hidden;
}
.boxes img {
    min-height: 100%;
    min-width: 100%;
}
.boxes:hover {
    scale: 1.09;
}
#flecha-main {
    background-color: transparent;
}
.sect4-main-products {
    display: flex;
    justify-content: space-evenly;
}
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.sect4-main-products {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sect4-main-products::-webkit-scrollbar {
    display: none;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(---grey-text-secundary);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 0; }
.next { right: 0; }
#flecha-main-img {
    min-height: 50%;
    min-width: auto;
    height: 60%;
}
@media only screen and (max-width:767px) {
    .carousel-container {
        width: 95%;
    }
}

/* footer */
.footer {
    background-color: black;
    border-radius: 20px 20px 0 0;
    padding: 5% 5% 20px 5%;
    color: white;
    text-align: center;
}
.footer-sect {
    display: flex;
}
.left-footer, .right-footer {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left-footer {
    justify-content: center;
    align-items: center;
}
.logo-footer {
    width: 90%;
}
.right-footer {
    flex-direction: row;
}
.areas-footer-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.areas-footer-right a {
    color: white;
    margin-top: 20px;
}
.footer section {
    color: white;
}
.copy {
    margin-top: 45px;
}

@media only screen and (max-width: 767px ) {
    .footer-sect {
        flex-direction: column;
    }
    .right-footer, .left-footer {
        width: 100%;
    }
}




/* Contacto */
#main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#4a7065,  white);
    padding: 100px 0;
    margin: 0;
}
.form-gen-contact {
    background-color: white;
    width: 70%;
    padding: 50px;
}
.form-gen-contact h1 {
    text-align: center;
}
.form-gen-contact label {
    margin-left: 10px;
}
.form-gen-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s1-form-contact input {
    width: 100%;
}
.s2-form-contact input, textarea {
    width: 100%;
}
.s2-form-contact {
    display: flex;
    align-items: start;
    margin-top: 25px;
}
.form-gen-contact input:focus,
.form-gen-contact textarea:focus {
    border-bottom: 1px solid #4A7065;
}
.form-gen-contact input, textarea {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    height: 30px;
    margin: 10px 0;
    resize: vertical;
    transition: 150ms;
}
.form-gen-contact textarea {
    height: 80px;
}
form div {
    width: 90%;
}
.form-gen-contact button {
    padding: 20px 80px;
    margin: 20px 0;
    background-color: #4A7065;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 150ms;
}
.form-gen-contact button:hover {
    padding: 20px 140px;
    background-color: black;
    color: white;

}

/* Boton flotante */
.boton-flotante-red {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.logo-flotante {
    height: 100%;
    animation: logo-flotando 4s infinite;
}